<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="x-ua-compatible" content="ie=edge">

        <title>{% block title %}{% endblock %}</title>
        {{ encore_entry_link_tags('app') }}
        {{ encore_entry_script_tags('app') }}
    </head>

    <body class="text-center login-page">
        <div class="row d-flex align-items-center h-100">
            <div class="col-md-2 offset-md-5">
                {% block body %}{% endblock %}
            </div>
        </div>
    </body>
</html>
